@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E1D7CE; /* Example background color */
  margin: 0;
  font-family: 'Inter', sans-serif;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: 200%; /* double the width for seamless scrolling */
  animation: scroll 40s linear infinite;
}
